#container{
    min-height: calc(100vh);
    padding: 0;
    margin: auto;
}

@media screen and (min-width: 1000px) {
    #navbar{
        display: none;
    }
}

/*这个屏幕宽度响应要仔细琢磨*/
@media screen and (max-width: 1000px) {
    #side-bar {
        display: none;
    }
    #main {
        padding: 0;
        width: 100%;
        margin-top: 1em;
    }
    #content{
        padding: 1em;
    }
    #header{
        padding-left: 1em;
    }
    #post{
        margin-left: 1em;
        margin-right: 1em;
    }
}