body {
    margin: 0;
/*    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;*/
    font: 300 1em/1.8 PingFang SC, Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f1f2f6;
}

button, input, select, textarea {
    font: 300 1em/1.8 PingFang SC, Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
}

blockquote {
    position: relative;
    color: #999;
    font-weight: 400;
    border-left: 3px solid rgb(163, 207, 187);
    padding-left: 1em;
    margin: 1em 3em 1em 2em;
}

@media only screen and ( max-width: 640px ) {
    blockquote {
        margin: 1em 0;
    }
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
    text-rendering: optimizelegibility;
    color: #2d3436;
}

a {
    color: #00b894;
}

a:hover {
    text-decoration: underline;
}

ins, a {
    text-decoration: none;
}